html{
	height: 100%;
	overflow: hidden;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: helvetica, arial, sans-serif
}

.container {
    max-width: 900px
}
.container-fluid {
    padding-right: 50px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
}
.navbar {
    background: #fff;
    padding: .3em 0
}
.navbar .navbar-brand {
    color: #000;
    font-family: georgia, serif;
    font-weight: bold
}

.navbar ul.nav li a {
    color: #111;
    padding-left: 0;
    padding-right: 8px;
    margin: 0 1.9em;
}

.navbar ul.nav li a:hover {
    color: #000
}

.navbar ul.nav li button {
    margin: .7em 0 0 1em
}
footer {
    background: #eee;
    color: black;
    padding: 1.5em 0 .8em;
    height: 200px;
    width: 100%;
    padding-top: 1.5em;
    position: fixed;
    bottom: 0;
}

@media screen and (max-width:768px) {
    .navbar ul.nav li {
        text-align: center;
        font-size: 12px
    }
    .navbar ul.nav li button {
        margin: 1em 0
    }
    .navbar ul.nav li a {
    	margin-right: 1em;
    }
    .jumbotron {
        font-size: 14px;
        padding: 6em 0 4em
    }
    .benefit {
        margin-bottom: 2em
    }
    .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
#menu-footer-navigation{
	margin-top: 20px;
	margin-bottom: 10px;
	}
	footer {
		height: 160px;
		padding: 0;
		margin: 0;
		line-height: 1em;
		font-size: 80%;
}
}
}

@media screen and (max-width:480px) {
    body {
        font-size: 14px
    }
    .jumbotron {
        font-size: 12px
    }
    footer .pull-right {
        display: none
    }
}
 a{
 	color: black;
 }

 .fa-lg {
 	margin-right: .5em;
 }